body {
    background-color: #181818;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
}

li {
    margin-bottom: 25px;
    font-size: small;
    list-style-type: none;
    color: #D8D8D8;
}

.upper {
    display: block;
    width: 100%;
    height: 35px;
    background-color: #282828;
    margin-top: 7px;
    border-bottom: 1px solid #484848;
}

.logofb {
    position: relative;
    margin-top: 2px;
    margin-left: 6px;
    height: 28px;
}

.szukajblock {
    display: block;
    position: relative;
    margin-left: 43px;
    margin-top: -30px;
    width: 180px;
    height: 25px;
    background-color: #484848;
    border-radius: 28px;
}

.szukajtekst {
    position: relative;
    margin-top: -18px;
    margin-left: 70px;
    color: #888888;
    font-size: x-small;
}

.twojeskroty {
    position: relative;
    margin-left: -20px;
    margin-top: 40px;
    color: #909090;
}

.listalewa {
    position: relative;
    margin-left: 250px;
}

.listaprawa {
    position: relative;
    margin-left: 950px;
    margin-top: -570px;

}

.granica1 {
    display: block;
    width: 190px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin: 0;
    margin-left: 0;
    margin-top: 0;
}

/* lewa */
.granica2 {
    display: block;
    width: 230px;
    border-bottom: 1px solid #404040;
    position: relative;
    margin: 10px;
    margin-left: -35px;
    margin-top: -15px;
}

/* prawa górna */

.granica3 {
    display: block;
    width: 230px;
    border-bottom: 1px solid #404040;
    position: relative;
    margin: 10px;
    margin-left: -35px;
    margin-top: -15px;
}

/* prawa dolna*/

.granica4 {
    display: block;
    width: 380px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin-left: 15px;
    margin-top: 40px;
}

/* środkowa górna*/

.granica5 {
    display: block;
    width: 380px;
    border-bottom: 1px solid #404040;
    position: absolute;
    margin-left: 510px;
    margin-top: -285px;
}

/* środkowa dolna*/

.przelacz {
    position: relative;
    margin-top: -5px;
    font-size: x-small;
    color: #909090;
}

.utworz {
    position: relative;
    margin-top: -10px;
    font-size: x-small;
    color: #909090;
}

.prawogora {
    position: relative;
    margin-left: -40px;
    margin-bottom: 15px;
    color: #909090;
}

.dolstrony {
    position: relative;
    margin-left: 250px;
}

.dol1 {
    position: relative;
    margin-bottom: -20px;
    font-size: xx-small;
    color: #909090;
}

.dol2 {
    font-size: xx-small;
    color: #909090;
}

.grafika1 {
    position: relative;
    height: 150px;
    margin-top: 20px;
    margin-left: 500px;
}

.grafika2345 {

    height: 150px;

}

.midblock {
    display: block;
    position: relative;
    margin-left: 500px;
    margin-top: 10px;
    width: 410px;
    height: 80px;
    background-color: #282828;
    border-radius: 5px;
}

.inmidblock {
    display: block;
    position: relative;
    margin-left: 550px;
    margin-top: -70px;
    width: 350px;
    height: 25px;
    background-color: #484848;
    border-radius: 28px;
}

.inmidblocktekst {
    position: relative;
    font-size: x-small;
    color: #888888;
    margin-left: 560px;
    margin-top: -17px;
}

.midblockbottom {
    display: block;
    position: absolute;
    background-color: #282828;
    width: 410px;
    height: 480px;
    margin-left: 500px;
    margin-top: -315px;
    border-radius: 5px;
}

.transmisja {
    position: absolute;
    font-size: x-small;
    margin-top: 235px;
    margin-left: 535px;
    color: #A8A8A8;
}

.zdjecie {
    position: absolute;
    font-size: x-small;
    margin-top: 235px;
    margin-left: 690px;
    color: #A8A8A8;
}

.nastroj {
    position: absolute;
    font-size: x-small;
    margin-top: 235px;
    margin-left: 800px;
    color: #A8A8A8;
}

.oznaczono {
    position: absolute;
    margin-left: 510px;
    margin-top: -305px;
    color: #B0B0B0;
    font-size: x-small;
}

.randoma {
    color: white;
}

.jakubrandom {
    position: absolute;
    margin-left: 550px;
    margin-top: -275px;
    color: #B0B0B0;
    font-size: x-small;
}

.zawijany {
    position: absolute;
    margin-left: 510px;
    margin-top: -420px;
    display: block;
    width: 390px;
    height: 65px;
    overflow-block: visible;
    color: #D0D0D0;
    font-size: x-small;
}

.godz5 {
    font-size: xx-small;
    position: absolute;
    margin-top: -440px;
    margin-left: 550px;
    color: #B0B0B0;
}

.sowa {
    position: absolute;
    width: 410px;
    margin-left: 500px;
    margin-top: -370px;
}

.kolotop {
    display: block;
    position: absolute;
    margin-top: -33px;
    margin-left: 1470px;
    background-color: #484848;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.kolotop2 {
    display: block;
    position: absolute;
    margin-left: -40px;
    background-color: #484848;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.kolotop3 {
    display: block;
    position: absolute;
    margin-left: -80px;
    background-color: #484848;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.kolotop4 {
    display: block;
    position: absolute;
    margin-left: -120px;
    background-color: #484848;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

/* Zawijany tekst w centrum strony */